@color-accent1: #f9f8fd;
@color-accent2: #ea4c89;

nav {
  background-color: @color-accent1;
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  ul {
    position: absolute;
    right: 2rem;
    display: flex;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
    li {
      list-style: none;
      padding-right: 2rem;
    }
  }
}

#empty-page {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  transform: translate(-50%, -50%);
}

#row {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 36px;
  padding-right: 1.7rem;
  li {
    margin: 0;
    padding: 0;
  }
}

.header-row {
  text-align: end;
  padding: 2rem;
  #input-search {
    position: absolute;
    right: 2rem;
    border: 1px solid lightgray;
    padding: 0 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    top: 5rem;
    .delete-icon:hover {
      cursor: pointer;
    }
  }
  input {
    height: 2rem;
    border: none;
    padding-left: 10px;
  }
  input:focus {
    outline: none;
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  &--image {
    height: 15rem;
    /* width: 12rem; */
    background-color: grey;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  &--meta-data {
    // word-break: break-all;
    display: flex;
    justify-content: space-between;
    .user-name-profile {
      display: flex;
      align-items: center;
    }
    .profile {
      width: 1rem;
      height: 1rem;
      background-color: lightgray;
      border-radius: 50%;
    }
    .photographer {
      padding-left: 0.3rem;
      font-weight: 500;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .likes {
      float: right;
      padding-right: 0.25rem;
      font-weight: 700;
      font-size: 0.8rem;
    }
  }
  .full-image {
    top: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    left: 50%;
    img {
      width: 100%;
    }
  }
}

#modal {
  position: fixed;
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.tiles {
  display: flex;
  transition: opacity 0.25s ease-out;
}

.tile-wrapper {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .tile {
    background-color: @color-accent2;
  }
}
.tile {
  border: 1px solid darkgray;
  padding: 0.25rem;
  border-radius: 5px;
  margin-right: 1rem;
}

@media screen and (max-width: 40em) {
  #row {
    flex-direction: column;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}

@media screen and (min-width: 27em) {
  #menu-modal {
    display: none;
  }
}

@media screen and (max-width: 27em) {
  nav ul {
    opacity: 0;
  }

  .header-row {
    text-align: center;
  }

  nav .menu {
    .menu-icon {
      display: block;
      position: absolute;
      right: 2rem;
      top: 1rem;
      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: grey;
        border-radius: 3px;
        z-index: 1;
      }
    }
  }

  #menu-modal {
    position: fixed;
    background-color: @color-accent1;
    width: 100%;
    top: 3.3rem;
    z-index: 1;
    ol {
      padding-left: 0;
    }
    li {
      list-style: none;
      padding: 1rem 1rem;
    }
    li:hover {
      background-color: lightblue;
    }
  }
}

@media screen and (max-width: 45em) {
  .tiles {
    opacity: 0;
  }
}
